<div class="container text-info bg-light">
    <div class="row">
        <div class="col-12 justify-content-md-center ml-1">
            <h1>
                Whenever in doubt it is best to reach out to someone to brainstorm or go over ideas. 
    
            </h1>
        </div>

    </div>

    <div class="row">
        <div class="col-12 center ml-1">
            <img class="fill largeIcon" src="assets/open-iconic-master/svg/phone.svg"/>

        </div>
        <div class="col-12 center">
            <button class="btn btn-success">Login Now</button>
        </div>
    </div>


    <div class="row">
        <div class="col-6">
            <h3> There's always a place to talk here. </h3>
        </div>
        <div class="col-6">
            <h3> Reconnect with long lost friends. </h3>
        </div>
    </div>

</div>
