<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8">
     <h1>The Best Chatting App in the World! </h1> 
    </div>
  </div>

  <div class="row">
    <app-landing> </app-landing>
    <app-login></app-login>

    <app-contacts></app-contacts>
    <app-chat-room></app-chat-room>
  </div>

  <div class="row">
    <div class="col-lg">
      Hello World
    </div>
    <div class="col-lg">
      Hello World
    </div>
    <div class="col-lg">
      Hello World
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      Hello World 
    </div>
  </div>
 


</div>

<router-outlet></router-outlet>