<div class="container text-primary">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <ul>
                <li>
                    Contact Us
                </li>
                <li>
                    What's new?
                </li>
                <li>
                    How are you?
                </li>
            </ul>

        </div>
        <div class="col-md-6 col-sm-12">
            <ul>
                <li>
                    Contact Us
                </li>
                <li>
                    What's new?
                </li>
                <li>
                    How are you?
                </li>
            </ul>
            
        </div>
    </div>
</div>